/*********** 通用 start *************/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

input,button {
    outline: none;
}

/*********** 通用 end *************/

/*********** 内容 start *************/
#content {
    width: 500px;
    height: 370px;
    margin: 100px auto;
    border: 1px solid #e0e0e0;
    padding: 0 30px;
}

#content .content-head h3 {
    height: 50px;
    text-align: center;
    line-height: 80px;
}

.content-body  button {
    width: 100%;
    height: 35px;
    color: #fff;
    background-color: #374a80;
    border: none;
    margin-top: 20px;
}

