body {
    margin: 0;
    padding: 0;
    /*background-color: #02be9d;*/
}
.login {
    width: 450px;
    height: 380px;
    margin: 150px auto;
    border: 1px solid rgba(52, 52, 52, 0.39);
    border-top: 3px solid #02be9d;
    background-color: #ffffff;
    padding: 20px;
}

.register {
    width: 450px;
    height: 480px;
    margin: 100px auto;
    border: 1px solid rgba(52, 52, 52, 0.39);
    border-top: 3px solid #02be9d;
    background-color: #ffffff;
    padding: 20px;
}

.title {
    width: 100%;
    height: 50px;
    text-align: center;
    border-bottom: 1px solid #666666;
    margin-bottom: 20px;
}

.title h3{
    /*background-color: yellow;*/
}

.login-button button {
    margin-right: 20px;
    float: left;
}
.login-button .btn-color {
    color: #ffffff;
    background-color: #02be9d;
    border: #ffffff;
}

.login-a a {
    padding-top: 10px;
    color: #686868;
    font-size: 14px;
    /*background-color: #cccccc;*/
    display: inline-block;
}

.login-a a:hover {
    color: #02be9d;
}

