body {
    background-color: #ececec;
}

.context {
    width: 1200px;
    height: 600px;
    margin: 50px auto;
    overflow: hidden;
}

.context-left {
    width: 200px;
    height: 600px;
    background-color: #FFFFFF;
    float: left;
}

.context-right {
    margin-left: 20px;
    float: left;
    width: 940px;
    height: 600px;
    background-color: #FFFFFF;
}

.userAccount {
    width: 100%;
    height: 90px;
    background-color: #ffffff;
    position: relative;
}

.userAccount img {
    width: 60px;
    height: 60px;
    margin-top: 15px;
}

.userAccount span {
    width: 80px;
    height: 30px;
    position: absolute;
    top: 35px;
    left: 80px;
}

/*左边菜单*/
.userInfo {
    width: 100%;
    height: 490px;
    background-color: #ffffff;
}

.userInfo ul li {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #cccccc;
    line-height: 40px;
}

.userInfo ul li:nth-child(1) {
    position: relative;
    font-weight: 600;
}

.userInfo ul li span {
    width: 70px;
    height: 2px;
    background-color: #02be9d;
    position: absolute;
}
.userInfo ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 13px;
}
.userInfo ul li a:hover {
    text-decoration: underline;
}

/*右边表单*/
.context-right form {
    margin-top: 50px;
    margin-left: 50px;
}

.context-right .form-inline .form-group label {
    width: 80px;
    font-size: 12px;
}

.context-right .form-inline .form-group label span {
    color: red;
}

.context-right .form-inline .form-group input[type="text"] {
    width: 300px;
}

.context-right .form-inline .form-group input[type="email"] {
    width: 300px;
}
